html {
  flex-grow: 1;
  background-color: #1e1a2e;
  user-select: none;
  font-family: "Courier New", Courier, monospace;
}
body {
  margin: 0;
}
.App-header {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 30px;
}

.draggable {
  -webkit-app-region: drag;
  width: 100%;
  background-color: #1f1f3a;
}

.header-button {
  display: flex;
  height: 100%;
  background-color: #1f1f3a;
  color: #fafafa;
  width: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
    background-color: #2f2f4a;
  }
}

.App-body {
  // padding: 0px 40px;
  background-color: #1e1a2e;
  height: 470px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  text-align: center;
  background-color: #1f1f3a;
  color: #fafafa;
  font-size: 20px;
  padding: 5px 10px 2px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  &:hover {
    background-color: #2f2f4a;
  }
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50vw;
  justify-content: space-evenly;
  align-items: center;
}

.lists-container {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.control {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  text-anchor: middle;
  font-size: 14px;
  color: #fafafa;
}

@media screen and (max-width: 800px) {
  .App-body {
    display: block;
    margin-left: 60px;
  }
}
